* {
    font-family: Amiko, Helvetica, sans-serif;
    font-size: 1em;
    color: #8B51F5;
}

.assign-submit {
    display: inline-block;
    padding: 20px;
}

#parent-ad {
    align-items: start;
}

#assign {
    padding: 10px 15px 20px;
    float: left;
    align-self: flex-start;
}

#date {
    padding: 25px 5px 10px;
    float: left;
    vertical-align: baseline;
}

h1 {
    font-size: 48px;
    color: black;
    background-color: #8B51F5;
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-family: Amiko, sans-serif;
}

#form-warning {
    display: none;
}